In [100]:
import praw
import csv
import pandas as pd
from wordcloud import STOPWORDS
import re
from textblob import TextBlob
import matplotlib.pyplot as plt
import plotly.graph_objs as go
from plotly.offline import iplot

from collections import defaultdict
from plotly import tools

In [101]:
# import pandas as pd
# from googleapiclient.discovery import build

# # Set up API key
# api_key = 'AIzaSyAWi-L9FRX0R27eBp3Iy7QfBao_XdijQto'

# # Initialize YouTube Data API client
# youtube = build('youtube', 'v3', developerKey=api_key)

# # Define the search query
# search_query = 'Samsung Galaxy S21 mkbhd'

# # Call the API to search for videos
# search_response = youtube.search().list(
#     q=search_query,
#     part='id',
#     type='video',
#     maxResults=1  # Example limit of 5 videos
# ).execute()

# # Extract video IDs from the search results
# video_ids = [item['id']['videoId'] for item in search_response['items']]

# # Retrieve comments for each video
# comments_data = []
# for video_id in video_ids:
#     next_page_token = None
#     while True:
#         response = youtube.commentThreads().list(
#             part='snippet',
#             videoId=video_id,
#             pageToken=next_page_token
#         ).execute()

#         # print(response['items'][0]['snippet']['topLevelComment']['snippet'])
        
#         for item in response['items']:
#             comment = item['snippet']['topLevelComment']['snippet']['textDisplay']
#             likes = item['snippet']['topLevelComment']['snippet']['likeCount']
#             publishedAt = item['snippet']['topLevelComment']['snippet']['publishedAt']
#             comments_data.append({'Video ID': video_id, 'Likes': likes, 'Time': publishedAt , 'Comment': comment})
        
#         next_page_token = response.get('nextPageToken')
#         if not next_page_token:
#             break

# # Create a pandas DataFrame from the list of dictionaries
# df = pd.DataFrame(comments_data)

# Save the DataFrame to a CSV file
# df.to_csv('youtube_comments.csv', index=False)

df = pd.read_csv("youtube_comments.csv")
df

,Video ID,Likes,Time,Comment
0,dhAmMXCBIcg,0,2024-04-10T01:57:24Z,Samsung Galaxy S21 doesn&#39;t have 3x Telepho...
1,dhAmMXCBIcg,0,2024-03-31T20:14:37Z,Very good i really like the video
2,dhAmMXCBIcg,1,2024-03-20T16:08:21Z,Always talking about how good the features are...
3,dhAmMXCBIcg,0,2024-03-10T11:01:01Z,"where are you living bro, one moment your phon..."
4,dhAmMXCBIcg,1,2024-02-25T18:26:55Z,Screen to small
...,...,...,...,...
7053,dhAmMXCBIcg,0,2021-02-02T23:30:33Z,No
7054,dhAmMXCBIcg,1,2021-02-02T23:30:32Z,First
7055,dhAmMXCBIcg,3,2021-02-02T23:30:32Z,first!!!!
7056,dhAmMXCBIcg,7,2021-02-02T23:30:31Z,First?
7057,dhAmMXCBIcg,20,2021-02-02T23:30:30Z,First

In [102]:
df['Date'] = pd.to_datetime(df['Time'])

In [103]:
df.describe(include='all')

,Video ID,Likes,Time,Comment,Date
count,7058,7058.000000,7058,7058,7058
unique,1,NaN,6582,6918,NaN
top,dhAmMXCBIcg,NaN,2021-02-02T23:31:03Z,First,NaN
freq,7058,NaN,8,17,NaN
mean,NaN,10.168178,NaN,NaN,2021-03-13 06:39:37.784924672+00:00
min,NaN,0.000000,NaN,NaN,2021-02-02 23:30:30+00:00
25%,NaN,0.000000,NaN,NaN,2021-02-03 01:39:08+00:00
50%,NaN,0.000000,NaN,NaN,2021-02-03 09:39:06.500000+00:00
75%,NaN,0.000000,NaN,NaN,2021-02-05 23:30:52.750000128+00:00
max,NaN,10135.000000,NaN,NaN,2024-04-10 01:57:24+00:00
std,NaN,194.573003,NaN,NaN,NaN

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7058 entries, 0 to 7057
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Video ID  7058 non-null   object
 1   Likes     7058 non-null   int64
 2   Time      7058 non-null   object
 3   Comment   7058 non-null   object
 4   Date      7058 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(3)
memory usage: 275.8+ KB

In [105]:
df = df.dropna()

In [106]:
# df["Comment"].apply(lambda x : )
stop_words= ['yourselves', 'between', 'whom', 'itself', 'is', "she's", 'up', 'herself', 'here', 'your', 'each', 
             'we', 'he', 'my', "you've", 'having', 'in', 'both', 'for', 'themselves', 'are', 'them', 'other',
             'and', 'an', 'during', 'their', 'can', 'yourself', 'she', 'until', 'so', 'these', 'ours', 'above', 
             'what', 'while', 'have', 're', 'more', 'only', "needn't", 'when', 'just', 'that', 'were', "don't", 
             'very', 'should', 'any', 'y', 'isn', 'who',  'a', 'they', 'to', 'too', "should've", 'has', 'before',
             'into', 'yours', "it's", 'do', 'against', 'on',  'now', 'her', 've', 'd', 'by', 'am', 'from', 
             'about', 'further', "that'll", "you'd", 'you', 'as', 'how', 'been', 'the', 'or', 'doing', 'such',
             'his', 'himself', 'ourselves',  'was', 'through', 'out', 'below', 'own', 'myself', 'theirs', 
             'me', 'why', 'once',  'him', 'than', 'be', 'most', "you'll", 'same', 'some', 'with', 'few', 'it',
             'at', 'after', 'its', 'which', 'there','our', 'this', 'hers', 'being', 'did', 'of', 'had', 'under',
             'over','again', 'where', 'those', 'then', "you're", 'i', 'because', 'does', 'all', "bot", "yeah", "first"]

CLEANR = re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});') 

df["Comment"] = df["Comment"].apply(lambda x: re.sub(CLEANR, '', x))

# df['Comment']=df['Comment'].str.replace('&#39;', '').str.replace('&#;', '').str.replace('<br>', '').replace('[^a-zA-Z0-9\\s]', '')

df["Comment"] = df["Comment"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
df.head()

,Video ID,Likes,Time,Comment,Date
0,dhAmMXCBIcg,0,2024-04-10T01:57:24Z,Samsung Galaxy S21 doesnt 3x Telephoto lens. I...,2024-04-10 01:57:24+00:00
1,dhAmMXCBIcg,0,2024-03-31T20:14:37Z,Very good really like video,2024-03-31 20:14:37+00:00
2,dhAmMXCBIcg,1,2024-03-20T16:08:21Z,Always talking good features but never come ba...,2024-03-20 16:08:21+00:00
3,dhAmMXCBIcg,0,2024-03-10T11:01:01Z,"living bro, one moment phone says 34‚Å∞C next mo...",2024-03-10 11:01:01+00:00
4,dhAmMXCBIcg,1,2024-02-25T18:26:55Z,Screen small,2024-02-25 18:26:55+00:00

In [107]:
df["polarity"] = df["Comment"].map(lambda text: TextBlob(text).sentiment.polarity)
df

,Video ID,Likes,Time,Comment,Date,polarity
0,dhAmMXCBIcg,0,2024-04-10T01:57:24Z,Samsung Galaxy S21 doesnt 3x Telephoto lens. I...,2024-04-10 01:57:24+00:00,-0.100000
1,dhAmMXCBIcg,0,2024-03-31T20:14:37Z,Very good really like video,2024-03-31 20:14:37+00:00,0.555000
2,dhAmMXCBIcg,1,2024-03-20T16:08:21Z,Always talking good features but never come ba...,2024-03-20 16:08:21+00:00,-0.060000
3,dhAmMXCBIcg,0,2024-03-10T11:01:01Z,"living bro, one moment phone says 34‚Å∞C next mo...",2024-03-10 11:01:01+00:00,0.000000
4,dhAmMXCBIcg,1,2024-02-25T18:26:55Z,Screen small,2024-02-25 18:26:55+00:00,-0.250000
...,...,...,...,...,...,...
7053,dhAmMXCBIcg,0,2021-02-02T23:30:33Z,No,2021-02-02 23:30:33+00:00,0.000000
7054,dhAmMXCBIcg,1,2021-02-02T23:30:32Z,First,2021-02-02 23:30:32+00:00,0.250000
7055,dhAmMXCBIcg,3,2021-02-02T23:30:32Z,first!!!!,2021-02-02 23:30:32+00:00,0.610352
7056,dhAmMXCBIcg,7,2021-02-02T23:30:31Z,First?,2021-02-02 23:30:31+00:00,0.250000
7057,dhAmMXCBIcg,20,2021-02-02T23:30:30Z,First,2021-02-02 23:30:30+00:00,0.250000

In [108]:
df["sentiment"] = df["polarity"].apply(lambda x: "Negative" if (x <= -0.07) else ("Positive" if (x >= 0.09) else "Neutral"))
df.describe(include="all")

,Video ID,Likes,Time,Comment,Date,polarity,sentiment
count,7058,7058.000000,7058,7058,7058,7058.000000,7058
unique,1,NaN,6582,6905,NaN,NaN,3
top,dhAmMXCBIcg,NaN,2021-02-02T23:31:03Z,First,NaN,NaN,Neutral
freq,7058,NaN,8,17,NaN,NaN,3398
mean,NaN,10.168178,NaN,NaN,2021-03-13 06:39:37.784924672+00:00,0.124966,NaN
min,NaN,0.000000,NaN,NaN,2021-02-02 23:30:30+00:00,-1.000000,NaN
25%,NaN,0.000000,NaN,NaN,2021-02-03 01:39:08+00:00,0.000000,NaN
50%,NaN,0.000000,NaN,NaN,2021-02-03 09:39:06.500000+00:00,0.000000,NaN
75%,NaN,0.000000,NaN,NaN,2021-02-05 23:30:52.750000128+00:00,0.300000,NaN
max,NaN,10135.000000,NaN,NaN,2024-04-10 01:57:24+00:00,1.000000,NaN
std,NaN,194.573003,NaN,NaN,NaN,0.330839,NaN

In [109]:
allComments = ""
for comment in df["Comment"]:
    allComments += str(comment)+"."

In [110]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from string import punctuation
from heapq import nlargest
import en_core_web_sm

nlp = en_core_web_sm.load()

In [111]:
def summarize(text, per):
    nlp = spacy.load('en_core_web_sm')
    doc= nlp(text)
    tokens=[token.text for token in doc]
    word_frequencies={}
    for word in doc:
        if word.text.lower() not in list(STOP_WORDS):
            if word.text.lower() not in punctuation:
                if word.text not in word_frequencies.keys():
                    word_frequencies[word.text] = 1
                else:
                    word_frequencies[word.text] += 1
    max_frequency=max(word_frequencies.values())
    for word in word_frequencies.keys():
        word_frequencies[word]=word_frequencies[word]/max_frequency
    sentence_tokens= [sent for sent in doc.sents]
    sentence_scores = {}
    for sent in sentence_tokens:
        for word in sent:
            if word.text.lower() in word_frequencies.keys():
                if sent not in sentence_scores.keys():                            
                    sentence_scores[sent]=word_frequencies[word.text.lower()]
                else:
                    sentence_scores[sent]+=word_frequencies[word.text.lower()]
    select_length=int(len(sentence_tokens)*per)
    summary=nlargest(select_length, sentence_scores,key=sentence_scores.get)
    final_summary=[word.text for word in summary]
    summary=''.join(final_summary)
    return summary

In [112]:
len(allComments.split())

71272

In [113]:
summary = summarize(allComments, 0.0004)
summary

In [ ]:
summary

'Dont get phone battery isnt strong enough keep 5g.. 4000mah isnt enough phone keep searching 5g areas.. still better apples pathetic 2815 mah.. battery.. but still 5g upgrade not worth ... Samsung needs better battery s21 WARNIING DONT GET IT... if ur coming s10+ keep wait samsung release better fully capable 5g phone.I gotta say, fact iPhone 12 mini like half size phone, 1080p phone too, kinda sad... can‚Äôt even see pixels 12 mini.loved new intro wow!.Marques made better promotion Galaxy S21 Samsung did..waiting 1+ enter 2021 trending phones.üòä.Paid reviewers trying hard show phone unique phone ever made but real phone worse phone samsung galaxy line.Reason screen glare, if I take phone outside I cant see anything even brightness way up, note 4 somewhat note 5 if glare get phone phone would shine brighter actually couldnt see glare but reason took feature off new phone those, battery life s21 sucks, heats like crazy if multitask gps running YouTube time phone overheats closes apps yet one plus 5t capable not overheat that?'

In [ ]:
len(summary.split())

171